<body>
<div class="container">
    <form action="/" enctype="multipart/form-data" method="post" style="text-align:center">
        <label>Password</label>
        <br>
        <input name="password" type="password" style="margin-top:20px;width: 200px;height: 40px;">
        <br><br>
        <input type="submit" style="width: 200px;
    height: 40px;
    border-radius: 5px;
    background: green;
    border-color: green;
    font-size: 20px;
    color: #fff;">
    </form>
</div> <!-- /container -->
</body>